.App-project {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(var(--main-color-rgb), .2);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
  img {
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
    border-radius: 10px;
    transition: .3s all;
    &:hover {
      transform: scale(1.05);
    }
  }
  a {
    color: var(--main-color);
    &:hover {
      color: var(--main-color-primary);
    }
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      padding: 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &:hover {
        .icon {
          transform: scale(1.2);
          fill: var(--main-color-primary);
        }
      }
    }
    .icon {
      transition: .3s all;
      margin-right: .5rem;
    }
  }
}
