.app-formation {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(var(--main-color-rgb), .2);
  border-radius: 10px;
  padding: 0 1rem 1rem;
  img {
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
    border-radius: 10px;
    transition: .3s all;
    margin-right: 1rem;
    @media (min-width: 800px) {
      width: 120px;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  .app-formation__title {
    background: rgba(var(--main-color-rgb), .08);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
    margin: 0 0 .5rem;
    padding: 1rem;
    width: 100%;
    border-radius: 10px 10px 0 0;
    text-shadow: 1px 1px var(--main-bg-color-primary);
    border-bottom: 1px solid rgba(var(--main-color-rgb), .2);
    @media (min-width: 640px) {
      margin: 0 0 1rem;
    }
  }
  .app-formation__detail {
    display: flex;
    width: 100%;
    flex-direction: column;
    @media (min-width: 640px) {
      flex-direction: row;
    }
  }
  .app-formation__description {
    white-space: pre-wrap;
    margin: 0;
    width: 100%;
    hr { opacity: .3; }
  }
  a {
    color: var(--main-color);
    &:hover {
      color: var(--main-color-primary);
    }
  }
  .app-formation__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    a {
      padding: 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background: rgba(var(--main-color-rgb), .08);
      border-radius: 10px;
      border: 1px solid rgba(var(--main-color-rgb), .2);
      &:hover {
        background: var(--main-color-primary);
        color: #fff;
        .app-formation__icon {
          fill: #fff;
        }
      }
    }
    .app-formation__icon {
      transition: .3s all;
      margin-right: .5rem;
    }
  }
}
