.app-language {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgba(var(--main-color-rgb), .2);
  background: var(--main-bg-color);
  color: var(--main-color);
}
