.app-nav {
  position: relative;
  z-index: 99;
  &.active .app-nav__content {
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
    transform: translateX(0);
  }
}

.app-nav__content {
  background-color: var(--main-bg-color-primary);
  border-left: 1px solid rgba(var(--main-color-rgb), .2);
  bottom: 0;
  box-sizing: border-box;
  color: var(--main-color);
  right: 0;
  min-width: 250px;
  padding: 30px;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  transition: .5s all;
  width: calc(80% - 20px);
  z-index: 99;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  @media (min-width: 1000px) {
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
    transform: translateX(0);
    background-color: transparent;
  }
}

.app-nav__title {
  margin-top: 0;
  margin-bottom: .5rem;
}

.app-nav__footer {
  margin-top: auto;
  .app-nav__version {
    text-align: center;
    font-size: .8rem;
  }
}

.theme-light .app-nav__content {
  @media (min-width: 1000px) {
    background-color: var(--main-bg-color-primary);
    backdrop-filter: none;
  }
}

.app-nav__item {
  -webkit-tap-highlight-color: transparent;
  background: var(--main-bg-color-primary);
  border: 1px solid rgba(var(--main-color-rgb), .2);
  box-sizing: border-box;
  color: var(--main-color);
  cursor: pointer;
  display: block;
  outline: none;
  padding: 1rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: .3s all;
  width: 100%;
  border-radius: 10px;
  &:hover,
  &:focus,
  &:active {
    background: var(--main-color-primary);
    color: #fff;
    svg { fill: #fff; }
  }
  &:hover, &:active, &.active {
    svg { transform: scale(1.2); }
  }
  &.active {
    box-shadow: 0 0 0 2px var(--main-color-primary), 0 0 10px 2px var(--main-color-primary);
  }
  svg {
    float: left;
    transition: .3s all;
  }
  span {
    display: block;
    padding-left: 40px;
    text-align: left;
  }
}

.app-nav__menu {
  position: fixed;
  top: 20px;
  right: 20px;
  opacity: .8;
  cursor: pointer;
  border: 1px solid rgba(var(--main-color-rgb), .2);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
  background: var(--main-bg-color-primary);
  border-radius: 50px;
  width: 50px;
  height: 50px;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  @media (min-width: 1000px) {
    display: none;
  }
  &:hover,
  &:focus,
  &:active {
    &:after {
      transform: scale(1) translate(-50%, -50%);
      opacity: 1;
      transition: .5s all;
    }
  }
  &:after {
    content: '';
    display: block;
    background: rgba(var(--main-color-rgb), .2);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    transform-origin: top left;
    transition: .2s all;
    opacity: 0;
    z-index: -1;
  }
}

.app-nav__overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: .3s all;
  backdrop-filter: brightness(0.3) blur(5px);
  -webkit-backdrop-filter: brightness(0.3) blur(5px);
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  @media (min-width: 1000px) {
    display: none;
  }
}
