.app-header__name {
  line-height: 1.1;
  font-size: 5.2em;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Kaushan Script', cursive;
  text-shadow: -1px -1px 0px #fff;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 1440px) {
    font-size: 3.2em;
  }
  @media (max-width: 640px) {
    font-size: 2em;
  }
}
