.social {
  a, p {
    display: inline-flex;
    align-items: center;
    padding: 1rem;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(var(--main-color-rgb), 0.2);
    margin: 1rem 1rem 0 0;
    color: var(--main-color);
    background: var(--main-bg-color-primary);
    &:hover {
      box-shadow: 0 0 20px var(--main-color-primary);
      color: var(--main-color-primary);
      .icon { transform: scale(1.2); }
    }
    &:first-of-type { margin-left: 0; }
    &:last-of-type { margin-right: 0; }
    .icon { transition: .3s all; }
    span { margin-left: .5rem; }
    @media (max-width: 600px) {
      padding: .3rem 1rem .3rem .3rem;
      .icon { transform: scale(.8); }
      span { margin-left: .4rem; }
      .linkedin.icon { transform: scale(.6); }
      .email.icon { transform: scale(.7); }
      &:hover {
        .icon { transform: scale(1); }
        .linkedin.icon { transform: scale(.7); }
        .email.icon { transform: scale(.9); }
      }
    }
  }
}
