.app-social {
  margin-bottom: 1rem;
  a, p {
    display: inline-flex;
    align-items: center;
    padding: 1rem;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(var(--main-color-rgb), 0.2);
    margin: 1rem 1rem 0 0;
    color: var(--main-color);
    background: var(--main-bg-color-primary);
    &:hover {
      box-shadow: 0 0 20px var(--main-color-primary);
      color: var(--main-color-primary);
      .app-social__icon { transform: scale(1.2); }
    }
    &:first-of-type { margin-left: 0; }
    &:last-of-type { margin-right: 0; }
    .app-social__icon { transition: .3s all; }
    span { margin-left: .5rem; }
  }
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a, p {
      width: 100%;
      margin-right: 0;
      box-sizing: border-box;
    }
  }
}
