.app-footer {
  text-align: center;
  padding: 4rem 1rem 2rem;
  margin-top: auto;
  small {
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 100px;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0,0,0, .5);
    font-weight: bold;
    text-shadow: 1px 1px var(--main-bg-color-primary);
  }
}
