.app-tech {
  margin-bottom: 2rem;
  a {
    margin-right: 1rem;
    margin-top: 1rem;
    transition: .3s all;
    display: inline-block;
    &:hover {
      transform: scale(1.2);
    }
    svg {
      width: 50px;
      height: 50px;
      transition: .3s all;
      @media (min-width: 1440px) {
        width: 70px;
        height: 70px;
      }
    }
  }
}
