.social {
  a {
    margin: 1rem;
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    &:hover {
      box-shadow: 0 0 20px var(--main-color-primary);
      .icon {
        transform: scale(1.2);
      }
    }
    &:first-of-type { margin-left: 0; }
    &:last-of-type { margin-right: 0; }
    .icon {
      transition: .3s all;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .social .icon {
    &.codepen,
    &.github {
      path {
        fill: #fff;
      }
    }
  }
}
