@import "./mixins/_responsive.scss";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --main-color: #fff;
  --main-color-primary: #3fb34f;
  --main-color-secondary: #c7c418;
  --main-color-rgb: '255, 255, 255';
  --main-bg-color-primary: #222222;
  --main-bg-color-secondary: #181818;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--main-color-primary);
  text-decoration: inherit;
  transition: .3s all;
  &:hover {
    color: var(--main-color-primary) + 22;
  }
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
}
#root {
  max-width: 780px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  min-height: calc(100vh - 4rem);
}

.social {
  a {
    margin: 2rem;
    display: inline-block;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .social .icon {
    &.codepen,
    &.github {
      path {
        fill: #fff;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--main-color-primary) + 22;
  }
}
