::selection {
  background: var(--main-color);
  color: var(--main-color-primary);
  text-shadow: none;
}

::-webkit-scrollbar-track {
	background: var(--main-bg-color-primary);
}

::-webkit-scrollbar {
	background-color: rgba(#fff,0);
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(#000,.4);
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0);
}

body {
  margin: 0;
  display: flex;
  min-width: 300px;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --main-color-primary: #dc1919;
  &.theme-dark {
    background: #000 url(./assets/matrix.jpg) fixed;
    background-size: cover;
    color: var(--main-color);
    --main-color: #fff;
    --main-color-rgb: 255,255,255;
    --main-bg-color-primary: #222;
    .app-main, .app-footer small {
      backdrop-filter: brightness(0.5) blur(5px);
      -webkit-backdrop-filter: brightness(0.5) blur(5px);
    }
  }
  &.theme-light {
    background: #fff url(./assets/swirl.jpg) fixed;
    color: var(--main-color);
    --main-color: #222;
    --main-color-rgb: 0,0,0;
    --main-bg-color-primary: #fff;
    .app-main, .app-footer small {
      backdrop-filter: brightness(2) blur(5px);
      -webkit-backdrop-filter: brightness(2) blur(5px);
    }
  }
}

#app {
  display: flex;
  width: 100%;
  @media (min-width: 1000px) {
    max-width: calc(100vw - 300px);
  }
}

.app-container {
  max-width: 980px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem .5rem;
  min-height: calc(100vh - 4rem);
  @media (min-width: 640px) {
    padding: 2rem;
  }
  p, h2 { text-shadow: 1px 1px var(--main-bg-color-primary); }
}

.app-main {
  padding: .5rem 1rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0, .5);
  border: 1px solid rgba(255,255,255,.5);
  @media (min-width: 640px) {
    padding: 1rem 2rem;
  }
}

a {
  font-weight: 500;
  color: var(--main-color-primary);
  text-decoration: inherit;
  transition: .3s all;
  &:hover { color: var(--main-color-primary) + 22; }
}
